html,
body {
    height: 100%;
    margin: 0;
}


/*sets the backgound for the home page*/
body.home-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* Ensure body takes at least the full viewport height */
    background: url("../images/hideokojima.jpg") no-repeat center center;
    background-size: cover;
    /* background-attachment: fixed;*/

    /* Ensure the background image covers the entire viewport */
}

/*sets the backgound for the info page*/
body.info-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* Ensure body takes at least the full viewport height */
    background: url("../images/kojimaproductions.jpg") no-repeat center center;
    background-size: cover;
    /* Ensure the background image covers the entire viewport */
}

/*html classes are defined using a period  */
.container {
    width: 70%;
    max-width: 800px;
    /*can't be bigger than 800px*/
    margin: auto;
    /*will center container*/
    flex: 1 0 auto;
    /* Allow the container to grow and take available space */
}

/*target the h1 tag inside the div with the class name of container*/
.container h1 {
    color: black;
}

/*container images will be a 100% width of outer element in this 
   case the container width*/
.container img {
    width: 100%;
    border: 2px solid #ccc;
}

p.info-text {
    color: white;
}

.footer {
    text-align: center;
    padding: 10px;
    background-color: #f8f9fa;
    flex-shrink: 0; 
    /* Ensure the footer does not shrink */
}

/*add music and slow fade in for hideo*/
/*click a box thatwill reveal image? more JS than anythign else*/


/*when the browser width is less than 800px than change the container width*/
@media screen and (max-width:800px) {
    .container {
        width: 90%;
    }
}

/* when the browsr is less than 1024px then change the container width to 80%*/
@media screen and (max-width:1024px) {
    .container {
        width: 80%;
    }
}
